.online{
    margin-left: 50px;
}
.never-nav{
    text-decoration: none;
     color: black;
     font-weight: bold;
     
}
.never-nav img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
@media (max-width: 767.98px) {
    .online-m{
        margin-left: 250px;
    }
    .online-m li{
        margin-bottom: 11px;
    }
}


