.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.print{ 
    width: 100vh;
}
.sss{
    margin: auto;
}
.img-1{
   width: 100%;
   border-radius: 10px;
}
.duration p{
    background-color: rgba(128, 128, 128, 0.123);
    padding: 10px 20px;
    border-radius: 6px;
}
.btn-1{
    display: flex;
    justify-content: space-between;
}
.check-out{
    background-color: red;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

@media (max-width: 575.98px) {
    
    .print{
        width: 40vh;
        margin: auto;
    }
    .duration p{
        padding: 5px;
        margin-left: 8px;
        border-radius: 6px;
    }
 }
 @media (max-width: 767.98px) {
    .print{
        width: 40vh;
        margin: auto;
    }

    .duration p{
        padding: 5px;
        margin-left: 8px;
        border-radius: 6px;
        background-color: rgb(5, 59, 255);
        color: white;
        font-size: 12px;
        font-weight: 600;
    }
  }